{% extends 'login_register/layout.html' %}
{% load like_extras %}
{% load follow_extras %}
{% load static %}

{% block content %}
    <div class="row">
      <a class="left btn-flat waves-red" href="{% url 'news:index' %}">Home</a>
      <a class="btn-flat" href="{% url 'login_register:profile' id=request.user.id %}">Profile</a>
      <a class="btn-flat" href="{% url 'login_register:account_settings' id=request.user.id %}">Account Settings</a>
      <a class="btn-flat" href="{% url 'login_register:logout' %}">Logout</a>
      <form id="search_form" class="dropdown-button col s3 offset-s7 m3 offset-m7 l3 offset-l9" data-beloworigin="true" data-activates="dropdown1" action="{% url 'login_register:search' %}" method="POST">
        {% csrf_token %}
        <input type="search" name="find_friends" placeholder="Grow Your Network">
      </form>
      <ul id='dropdown1' class='dropdown-content col s12 m4 offset-m5 l4 offset-l6'></ul>
    </div>
    <h1 class="newsreel">Newsreel</h1>
    <p class="red-text accent-3 newsreel-sub"><i>Your network news</i></p>
    <div class="row news-row fill-height">
    {% for article in articles %}
      <div class="xtra-margin card-panel hoverable left col s12 m5 offset-m1 l3 offset-l1">
        <p><a href="{% url 'login_register:profile' id=article.creator.id %}">{{ article.creator.first_name }}</a> shared:</p>
        {% if not request.user|already_follow:article.creator.id %}
        <p>Want to follow <a href="{% url 'login_register:follow' id=article.creator.id %}">{{ article.creator.first_name }}</a>?</p>
        {% endif %}
        <a href="{{ article.url }}"><img class="responsive-img" src="{{ article.main_image }}" /></a>
        <h5><a class="modal-trigger" href="#modal{{article.id}}">{{ article.title }}</a></h5>
        <p class="truncate">{{ article.summarized_text }}</p>
        <p>{{ article.published_on }}</p>
        {% for category in article.category_set.all %}
        <p>{{ category.name }}</p>
        <h6 class="like_count">{{ article.like_set.count }} Likes</h6>
        <div id="modal{{article.id}}" class="modal">
          <div class="modal-content">
            <h4>{{ article.title }}</h4>
            <p>{{ article.summarized_text }}</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
        <!-- <a class="test_like" a-id="{{ article.id }}" href="">Like</a> -->
        {% if not article|already_liked:request.user.id %}
        <p><a class="like_article" a-id="{{article.id}}" href="">Like</a></p>
        {% else %}
        <p><a class="unlike_article" a-id="{{article.id}}" href="">Unlike</a></p>
        {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    </div>
{% endblock %}
