{% extends 'login_register/layout.html' %}

{% block content %}
<a class="btn-flat" href="{% url 'login_register:logout' %}">Logout</a>
<a class="btn-flat" href="{% url 'news:newsreel' %}">Newsreel</a>
<a class="btn-flat" href="{% url 'login_register:account_settings' id=request.user.id %}">Account Settings</a>
<a class="btn-flat" href="{% url 'login_register:profile' id=request.user.id %}">Profile</a>

<h3 class="newsreel">{{ request.user.first_name }}'s Account</h3>
<hr>
<br>
<p>First Name: {{ request.user.first_name }}</p>
<p>Last Name: {{ request.user.last_name }}</p>
<p>Email: {{ request.user.email }}</p>
<p>Bio: {{ request.user.profile.bio }}</p>
<p>Date Joined: {{ request.user.date_joined }}</p>
<p>Birthday: {{ request.user.profile.birthday }}</p>
<h3>I am following:</h3>
{% for follow in follows %}
  <p>{{ follow.user.username }}</p>
{% endfor %}
<hr>
<a class="btn-flat" href="{% url 'login_register:edit' id=request.user.id %}">Edit</a>
{% endblock %}
